.login{

text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
background-color: #c7c7d1;
}

.btn{
display: block;
margin-top: 30px;
padding:10px 20px;
border-radius: 10px;
border: none;
background-color: #a16cd3;
cursor: pointer;
margin-left: 8px;
} 

.btn1{
display: block;
margin-top: 30px;
padding:10px 20px;
border-radius: 10px;
border: none;
background-color: #40d479;
cursor: pointer;
}
.btn:hover{
    background-color: #8030ca; 
} 
.btn1:hover{
    background-color: #0ca848; 
}
.hdr{
    color:rgb(84, 17, 148);
    font-style: italic;
    margin-bottom: 80px;

}
img{
    border-radius: 10px;
}